<div class="field">
  <%= f.label :street %><br />
  <%= f.text_field :street %>
</div>
<div class="field">
  <%= f.label :detail %><br />
  <%= f.text_field :detail %>
</div>
<div class="field">
  <%= f.label :city %><br />
  <%= f.text_field :city %>
</div>
<div class="field">
  <%= f.label :state %><br />
  <%= f.select :state, state_abbreviations, :include_blank => true, :index => nil %>
</div>
<div class="field">
  <%= f.label :zip %><br />
  <%= f.text_field :zip %>
</div>
