<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :phone %><br />
  <%= validated_telephone_field :phone, f %>
</div>
<div class="field">
  <%= f.label :email %><br />
  <%= validated_email_field :email, f %>
</div>

<%= f.fields_for :address do |builder| %>
  <%= render 'address_fields', :f => builder %>
  <%= link_to_delete_field '[remove]', builder %>
<% end %>
