<% provide(:title, "Person: #{@person.name}") %>

<%= render 'shared/person', :person => @person %>

<% show_finished = params[:show_finished] == 'true' %>
<% tasks = show_finished ? @person.tasks : @person.in_progress_tasks %>
<div class="grouping_box">
  <b>Showing <%= show_finished ? "all tasks" : "in-progress tasks" %></b>
  <%= link_to ( show_finished ? "[see only in-progress tasks]" : "[see finished tasks too]" ), person_path(@person, :show_finished => !show_finished ), :class => :action %>
  <br />
  <% if tasks.empty? %>
    <i>no tasks</i><br />
  <% else %>
    <table class="index_table">
      <tr>
        <th>Started</th>
        <th>Task</th>
        <th>Assigned to</th>
        <th>Status</th>
        <th>Last contact</th>
      </tr>
      <% tasks.each do |t| %>
        <tr <%= raw( t.overdue? ? 'class="overdue"' : '' ) %>>
          <td><%= format_date t.created_at %></td>
          <td><%= link_to t.task_type.description, t %></td>
          <td><%= link_to t.user.name, t.user %></td>
          <td><%= t.task_status.description %></td>
          <td>
            <%= format_date t.last_contact_attempt_made_at %>
            <% if t.overdue? %>
              <span class="overdue">(overdue)</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% task_types = TaskType.order(:description).all %>
  <% if task_types.empty? %>
    <b>No task types are currently defined...please ask your administrator to fix this</b>
  <% else %>
    <br />
    <div>
      <%= link_to_show '[start a new task]' do %>
        <% form_tag "/tasks/new", :method => :get do %>
          Start a new task:
          <%= select_tag :task_type_id, options_from_collection_for_select(task_types, :id, :description) %>
          <%= hidden_field_tag :person_id, @person.id %>
          <%= submit_tag 'Start' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="grouping_box">
  <% groups = @person.groups.order(:description) %>
  <b>This person is a member of <%= pluralize(groups.size, 'group') %></b>
  <% if !groups.empty? %>
    <table class="index_table">
      <tr>
        <th>Group</th>
        <th></th>
      </tr>
      <% groups.each do |g| %>
        <tr>
          <td><%= link_to g.name, g %></td>
          <td><%= link_to '[remove]', "/people/#{@person.id}/groups/#{g.id}", :method => :delete, :confirm => 'Are you sure you want to remove this person from this group?', :class => :action %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <br />
  <div>
    <% non_member_groups = @person.non_member_groups %>
    <% if !non_member_groups.empty? %>
      <%= link_to_show '[add to a group]' do %>
        <% form_tag "/people/#{@person.id}/groups", :method => :post do %>
          Add to a group:
          <%= select_tag :group_id, options_from_collection_for_select(non_member_groups, :id, :name), :include_blank => true %>
          <%= submit_tag 'Add', :confirm => 'Are you sure you want to add this user directly to a group, with no follow-up? If this person is not already a part of this group, consider starting a "connect to group" task instead.', :class => :action %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<%= link_to '[edit this person]', edit_person_path(@person), :class => :action %> |
<%= link_to '[go back to people list]', people_path, :class => :action %>
