<div class="field">
  <%= f.text_field :description %>
  <%= f.check_box :start  %> <%= f.label :start  %>
  <%= f.check_box :finish %> <%= f.label :finish %>
  <%= link_to_delete_field "[delete]", f, '.field', :class => :action %>
</div>
