<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>
    <%= f.object.task_type.description %>
    <%= f.hidden_field :task_type_id %>
  </h2>
  <div class="field">
    Person: <%= f.object.person.name %>
    <%= f.hidden_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :contact_id, 'Assigned to' %>
    <%= group_contact_select :contact_id, f, @task.group_type %>
  </div>
  <div class="field">
    <%= f.label :task_status, 'Status' %>
    <%= f.collection_select :task_status_id, f.object.task_type.task_statuses, :id, :description %>
  </div>
  <div class="field">
    <%= f.label :last_contact_attempt_made_at, 'Last contact attempt' %>
    <%= f.date_select :last_contact_attempt_made_at, :include_blank => true %>
    <%= f.hidden_field 'last_contact_attempt_made_at(4i)', :value => 23 %>
    <%= f.hidden_field 'last_contact_attempt_made_at(5i)', :value => 59 %>
  </div>
  <div class="field">
    <%= f.label :attempt_next_contact_by, 'Next contact attempt on or before' %>
    <%= f.date_select :attempt_next_contact_by %>
    <%= f.hidden_field 'attempt_next_contact_by(4i)', :value => 23 %>
    <%= f.hidden_field 'attempt_next_contact_by(5i)', :value => 59 %>
  </div>
  <div class="field">
    <%= f.label :consecutive_failed_contact_attempts, 'Consecutive failed contact attempts' %>
    <%= f.select :consecutive_failed_contact_attempts, 0..10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
