<div class="page_title">
  <h1>Listing tasks</h1>
</div>

<% show_finished = params[:show_finished] == 'true' %>
<b>Showing <%= show_finished ? "all tasks" : "in-progress tasks" %></b>
<%= link_to ( show_finished ? "[see only in-progress tasks]" : "[see finished tasks too]" ), tasks_path(:show_finished => !show_finished ), :class => :action %>
<br />

<% TaskType.order(:created_at).all.each do |tt| %>
  <% tasks = show_finished ? tt.tasks : tt.in_progress_tasks %>
  <% if !tasks.empty? %>
    <div class="grouping_box">
      <h2><%= tt.description %></h2>
      <table class="index_table">
        <tr>
          <th>Person</th>
          <th>Assigned to</th>
          <th>Status</th>
          <th></th>
          <th></th>
          <% if logged_in_super_admin? %>
            <th></th>
          <% end %>
        </tr>

        <% tasks.each do |t| %>
          <tr>
            <td><%= link_to t.person.name, t %></td>
            <td><%= link_to t.user.name, t.user %></td>
            <td><%= t.task_status.description %></td>
            <td><%= link_to 'Show', t %></td>
            <td><%= link_to '[edit]', edit_task_path(t), :class => :action %></td>
            <% if logged_in_super_admin? %>
              <td><%= link_to '[destroy]', t, confirm: 'This will obliterate this record from the database...are you sure?', :method => :delete, :class => :action %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
<% end %>
