<% provide(:title, "Task: #{task_title @task}") %>

<% person = @task.person %>

<table>
  <tr>
    <td class="page_column">
      <div class="grouping_box">
        <h2>Person</h2>
        <p><b>Name:</b> <%= link_to person.name, person %></p>
        <% if !person.phone.nil? %>
          <p><b>Phone:</b> <%= format_telephone person.phone %></p>
        <% end %>
        <% if !person.email.nil? %>
          <p><b>Email:</b> <%= mail_to person.email %></p>
        <% end %>
        <% if !person.address.nil? %>
          <b>Address:</b><br />
          <%= render 'shared/address', :address => person.address %>
        <% end %>
      </div>
    </td>
    <td class="page_column">
      <div class="grouping_box">
        <h2>Task
          <% if @task.overdue? %>
            <span class="overdue">(overdue)</span>
          <% end %>
        </h2>
        <p><b>Status:</b> <%= @task.task_status.description %></p>
        <p><b>Assigned to:</b> <%= link_to @task.user.name, @task.user %></p>
        <p><b>Last contact attempt was:</b> <%= format_date @task.last_contact_attempt_made_at %></p>
        <% if !@task.overdue? %>
          <p><b>Next attempt should be:</b> <%= format_date @task.attempt_next_contact_by %></p>
        <% else %>
          <p><b>Next attempt should have been:</b> <span class="overdue"><%= format_date @task.attempt_next_contact_by %></span></p>
        <% end %>
        <p><%= pluralize(@task.consecutive_failed_contact_attempts, 'failed attempt') %> to contact</p>
      </div>
    </td>
  </tr>
</table>

<p>
  <b>Notes:</b>
  <div>
    <%= link_to_show '[add a note]' do %>
      <% form_tag "/tasks/#{@task.id}/notes", :method => :post do %>
        <div style="padding: 0.5em">
          <%= submit_tag 'Add note' %>
          <br />Also change status:
          <%= select_tag :task_status_id, options_from_collection_for_select(@task.task_type.task_statuses, :id, :description), :include_blank => true %>
          <br />Also reassign:
          <%= select_tag :user_id, options_from_collection_for_select(User.where(:active => true), :id, :name), :include_blank => true %>
        </div>
        <%= text_area_tag 'content', nil, :size => '80x6' %>
      <% end %>
    <% end %>
  </div>
  <% @task.notes.order('created_at DESC').each do |n| %>
    <div class="note">
      <div class="note_header">
        <span><%= n.user.name %></span>
        <span style="float: right"><%= n.created_at.in_time_zone('Pacific Time (US & Canada)').to_formatted_s(:long_ordinal) %></span>
      </div>
      <div class="note_body"><%= n.content %></div>
    </div>
  <% end %>
</p>

<% if logged_in_admin? %>
  <%= link_to '[edit this task]', edit_task_path(@task), :class => :action %> |
<% end %>
<%= link_to '[go back to task list]', tasks_path, :class => :action %>
