<% provide(:title, "Task: #{task_title @task}") %>

<% person = @task.person %>

<table>
  <tr>
    <td class="page_column">
      <div class="grouping_box">
        <h2>Person</h2>
        <p><b>Name:</b> <%= link_to person.name, person %></p>
        <% if !person.phone.nil? %>
          <p><b>Phone:</b> <%= format_telephone person.phone %></p>
        <% end %>
        <% if !person.email.nil? %>
          <p><b>Email:</b> <%= mail_to person.email %></p>
        <% end %>
        <% if !person.address.nil? %>
          <b>Address:</b><br />
          <%= render 'shared/address', :address => person.address %>
        <% end %>
      </div>
    </td>
    <td class="page_column">
      <div class="grouping_box">
        <h2>Task
          <% if @task.overdue? %>
            <span class="overdue">(overdue)</span>
          <% end %>
        </h2>
        <p><b>Status:</b> <%= @task.task_status.description %></p>
        <p><b>Assigned to:</b> <%= link_to @task.user.name, @task.user %></p>
        <p><b>Last contact attempt was:</b> <%= format_date @task.last_contact_attempt_made_at %></p>
        <% if !@task.overdue? %>
          <p><b>Next attempt should be:</b> <%= format_date @task.attempt_next_contact_by %></p>
        <% else %>
          <p><b>Next attempt should have been:</b> <span class="overdue"><%= format_date @task.attempt_next_contact_by %></span></p>
        <% end %>
        <p><%= pluralize(@task.consecutive_failed_contact_attempts, 'consecutive failed attempt') %> to contact</p>

        <% if !@task.sub_tasks.empty? %>
          <hr />

          <p>
            <b>Sub-tasks:</b>
            <ul>
              <% @task.sub_tasks.each do |st| %>
                <li><%= st.sub_task_type.description %></li>
              <% end %>
            </ul>
          </p>
        <% end %>

      </div>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <h2>Let's do something:</h2>
      <% if !@task.finished? %>
        <div class="action_box">
          <%= link_to_show 'I contacted this person' do %>
            <% form_tag "/tasks/#{@task.id}/notes", :method => :post do %>
              <%= hidden_field_tag :successful_contact, :value => 1 %>
              <div>
                How did it go?<br />
                <%= text_area_tag 'content', nil, :size => '80x6' %>
              </div>
              <div>
                <%= label_tag :attempt_next_contact_in_days, 'Make next attempt in' %>
                <%= select_tag :attempt_next_contact_in_days, options_for_select([ ['one day', 1], ['two days', 2], ['one week', 7], ['two weeks', 14], ['three weeks', 21], ['four weeks', 28] ], :selected => 7) %>
                <%= submit_tag 'Save' %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="action_box">
          <%= link_to_show 'I tried to contact this person, but could not reach them' do %>
            <% form_tag "/tasks/#{@task.id}/notes", :method => :post do %>
              <%= hidden_field_tag :failed_contact, :value => 1 %>
              <div>
                Leave a note<br />
                <%= text_area_tag :content, nil, :size => '80x6' %>
              </div>
              <div>
                <%= label_tag :attempt_next_contact_in_days, 'Make next attempt in' %>
                <%= select_tag :attempt_next_contact_in_days, options_for_select([ ['one day', 1], ['two days', 2], ['one week', 7], ['two weeks', 14], ['three weeks', 21], ['four weeks', 28] ], :selected => 7) %>
                <%= submit_tag 'Save' %>
              </div>
            <% end %>
          <% end %>
        </div>
        <!-- TODO: this 'actions' list is pretty busy...find a cleaner way to expose this functionality. -->
        <div class="action_box" style="display:none">
          <%= link_to_show 'I should follow up with this person at another time' do %>
            <% form_tag "/tasks/#{@task.id}/notes", :method => :post do %>
              <div>
                <% if !@task.attempt_next_contact_by.nil? %>
                  The current 'next contact' date is <%= format_date @task.attempt_next_contact_by %>. If this is not
                  ideal, you can change it. Please leave a note indicating why.<br />
                <% else %>
                  There is no 'next contact' date set for this person. Please choose the correct time-frame for
                  following up with this person, and leave a note indicating why.<br />
                <% end %>
                <%= text_area_tag :content, nil, :size => '80x3' %>
              </div>
              <div>
                <%= label_tag :attempt_next_contact_in_days, 'Make next attempt in' %>
                <%= select_tag :attempt_next_contact_in_days, options_for_select([ ['one day', 1], ['two days', 2], ['one week', 7], ['two weeks', 14], ['three weeks', 21], ['four weeks', 28] ], :selected => 7) %>
                <%= submit_tag 'Save' %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="action_box">
          <%= link_to_show 'I want to leave a note' do %>
            <% form_tag "/tasks/#{@task.id}/notes", :method => :post do %>
              <div>
                Leave a note<br />
                <%= text_area_tag :content, nil, :size => '80x6' %>
              </div>
              <div>
                <%= submit_tag 'Save' %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="action_box">
          <%= link_to_show 'Someone else should continue follow-up with this person' do %>
            <% form_tag "/tasks/#{@task.id}/notes", :method => :post do %>
              <div>
                Leave a note for the new 'owner' of this task<br />
                <%= text_area_tag :content, nil, :size => '80x6' %>
              </div>
              <div>
                Also reassign:
                <%= select_tag :user_id, options_from_collection_for_select(User.where(:active => true), :id, :name), :include_blank => true %>
                <%= submit_tag 'Save' %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="action_box">
          <%= link_to_show 'This task is done' do %>
            <% form_tag "/tasks/#{@task.id}/notes", :method => :post do %>
              <div>
                Leave a note explaining why<br />
                <%= text_area_tag :content, nil, :size => '80x6' %>
              </div>
              <div>
                And specify the new status:
                <%= select_tag :task_status_id, options_from_collection_for_select(@task.task_type.task_statuses, :id, :description), :include_blank => true %>
                <%= submit_tag 'Save' %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% else # Finished %>
        <div class="action_box">
          <%= link_to_show 'This task needs to be reactivated' do %>
            <% form_tag "/tasks/#{@task.id}/notes", :method => :post do %>
              Leave a note explaining why
              <%= text_area_tag :content, nil, :size => '80x6' %>
              <br />And specify the new status:
              <%= select_tag :task_status_id, options_from_collection_for_select(@task.task_type.task_statuses, :id, :description), :include_blank => true %>
              <%= submit_tag 'Save' %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </td>
  </tr>
</table>

<p>
  <b>Notes:</b>
  <% @task.notes.order('created_at DESC').each do |n| %>
    <div class="note">
      <div class="note_header">
        <span><%= n.user.name %></span>
        <span style="float: right"><%= n.created_at.in_time_zone('Pacific Time (US & Canada)').to_formatted_s(:long_ordinal) %></span>
      </div>
      <div class="note_body"><%= n.content %></div>
    </div>
  <% end %>
</p>

<% if logged_in_admin? %>
  <%= link_to '[edit this task]', edit_task_path(@task), :class => :action %> |
<% end %>
<%= link_to '[go back to task list]', tasks_path, :class => :action %>
