<div class="search_box">
  <div class="term_dashboard" onclick="$('.search_form').toggle()">
    <h2>Click here to search, filter &amp; sort</h2>

    <% if !query.order_by.blank? %>
      <span class="term order">Sort by: <%= query.order_by %></span>
    <% end %>
    <% if !query.active.blank? %>
      <span class="term filter">Active: <%= query.active %></span>
    <% end %>
    <% if !query.region.blank? %>
      <span class="term filter">Region: <%= Region.find(query.region.to_i).name %></span>
    <% end %>
    <% if !query.name_like.blank? %>
      <span class="term filter">Name like: "<%= query.name_like %>"</span>
    <% end %>
  </div>

  <div class="search_form">
    <%= form_for query, :as => :query, :url => groups_path, :method => :get do |f| %>
      <div class="field">
        <%= f.label :order_by, 'Sort by' %>
        <%= f.select :order_by, options_for_select(GroupsQuery::sortable_fields, query.order_by) %>
      </div>
      <div class="field">
        <%= f.label :active %>
        <%= f.select :active, options_for_select(['yes', 'no'], query.active), :include_blank => true %>
      </div>
      <div class="field">
        <%= f.label :region %>
        <%= f.select :region, options_from_collection_for_select(Region.all, :id, :name, query.region), :include_blank => true %>
      </div>
      <div class="field">
        <%= f.label :name_like %>
        <%= f.text_field :name_like %>
      </div>
      <%= f.submit 'Update' %>
    <% end %>
  </div>
</div>
