<div class="page_title">
  <h1>Listing groups</h1>
  <%= link_to '[create new group]', new_group_path, :class => :action %>
</div>

<% GroupType.order(:description).all.each do |gt| %>
  <% groups = gt.groups.order(:description) %>
  <% if !groups.empty? %>
    <div class="grouping_box">
      <h2><%= gt.description %></h2>
      <table class="index_table">
        <tr>
          <th>Name</th>
          <th></th>
          <% if logged_in_super_admin? %>
            <th></th>
          <% end %>
        </tr>

        <% groups.each do |group| %>
          <tr>
            <td><%= link_to group.name, group %></td>
            <td><%= link_to '[edit]', edit_group_path(group), :class => :action %></td>
            <% if logged_in_super_admin? %>
              <td><%= link_to '[destroy]', group, confirm: 'This will obliterate this record from the database...are you sure?', :method => :delete, :class => :action %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
<% end %>
