<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Meeting:</b>
  <%= day_of_week_name @group.meeting_day %>
  <%= @group.meeting_time.to_s(:time) %>
</p>

<p>
  <b>Contact:</b>
  <%= @group.user.person.name %>
</p>

<p>
  <b>Description:</b><br />
  <%= format_plain_text @group.description %>
</p>

<p>
  <b>Restrictions:</b><br />
  <%= format_plain_text @group.restrictions %>
</p>

<div class="grouping_box">
  <% members = @group.members %>
  <b>This group has <%= members.size %> member(s)</b>
  <% if !members.empty? %>
    <table class="index_table">
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
      </tr>
      <% members.each do |m| %>
        <tr>
          <td><%= link_to m.name, m %></td>
          <td><%= format_telephone m.phone %></td>
          <td><%= mail_to m.email %></td>
          <td><%= link_to '[remove]', "/groups/#{@group.id}/members/#{m.id}", :method => :delete, :confirm => 'Are you sure you want to remove this person from this group?', :class => :action %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <div>
    <% non_members = @group.non_members %>
    <% if !non_members.empty? %>
      <%= form_tag "/groups/#{@group.id}/members", :method => :post do %>
        Add someone: <%= select_tag :person_id, options_from_collection_for_select(non_members, :id, :name), :include_blank => true %>
        <%= submit_tag 'Add' %>
      <% end %>
    <% end %>
  </div>
</div>


<%= link_to '[edit this group]', edit_group_path(@group), :class => :action %> |
<%= link_to '[go back to group list]', groups_path, :class => :action %>
