<% provide(:title, "Group: #{@group.name}") %>

<% if !@group.meeting_day.nil? || !@group.meeting_time.nil? %>
  <p>
    <b>Meeting:</b>
    <% if !@group.meeting_day.nil? %>
      <%= day_of_week_name @group.meeting_day %>s
    <% end %>
    <% if !@group.meeting_time.nil? %>
      <%= @group.meeting_time.strftime('%l:%M %p') %>
    <% end %>
  </p>
<% end %>

<% if !@group.region.nil? %>
  <p>
    <b>Region:</b>
    <%= link_to @group.region.name, @group.region %>
  </p>
<% end %>

<% leaders = @group.leaders %>
<% if !leaders.empty? %>
  <table>
    <tr>
      <td class="column"><b><%= 'Leader'.pluralize(leaders.size) %>:</b></td>
      <td class="column">
        <% leaders.each do |m| %>
          <%= link_to m.name, m %><br />
        <% end %>
      </td>
    </tr>
  </table>
<% end %>

<% contacts = @group.contacts %>
<% if !contacts.empty? %>
  <table>
    <tr>
      <td class="column"><b><%= 'Contact'.pluralize(contacts.size) %>:</b></td>
      <td class="column">
        <% contacts.each do |m| %>
          <%= link_to m.name, m %><br />
        <% end %>
      </td>
    </tr>
  </table>
<% end %>

<% hosts = @group.hosts %>
<% if !hosts.empty? %>
  <table>
    <tr>
      <td class="column"><b><%= 'Host'.pluralize(hosts.size) %>:</b></td>
      <td class="column">
        <% hosts.each do |m| %>
          <%= link_to m.name, m %><br />
        <% end %>
      </td>
    </tr>
  </table>
<% end %>

<p>
  <b>Description:</b><br />
  <%= format_plain_text @group.description %>
</p>

<p>
  <b>Restrictions:</b><br />
  <%= format_plain_text @group.restrictions %>
</p>

<p>
  <b>Active:</b> <%= @group.active ? 'Yes' : 'No' %>
</p>

<div class="grouping_box">
  <% memberships = @group.group_memberships %>
  <b>This group has <%= pluralize(memberships.size, 'member') %></b>
  <% if !memberships.empty? %>
    <table class="index_table">
      <tr>
        <th>Role</th>
        <th></th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Church member?</th>
        <th></th>
      </tr>
      <% memberships.each do |m| %>
        <tr>
          <td>
            <%
              roles = []
              roles << 'Leader' if m.leader
              roles << 'Contact' if m.contact
              roles << 'Host' if m.host
            %>
            <%= roles.join('/') %>
          </td>
          <td>
            <%= link_to_show '[change]', :hide_on_click => true do %>
              <% form_for m, :url => "/groups/#{@group.id}/members/#{m.person.id}", :method => :put do |f| %>
                <%= f.check_box :leader %> <%= f.label :leader %><br />
                <%= f.check_box :contact %> <%= f.label :contact %><br />
                <%= f.check_box :host %> <%= f.label :host %><br />
                <%= f.submit 'Update' %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to m.person.name, m.person %></td>
          <td><%= format_telephone m.person.phone %></td>
          <td><%= mail_to m.person.email %></td>
          <td><%= m.person.member ? 'Yes' : 'No' %></td>
          <td><%= link_to '[remove]', "/groups/#{@group.id}/members/#{m.person_id}", :method => :delete, :confirm => 'Are you sure you want to remove this person from this group?', :class => :action %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <br />
  <div>
    <% non_members = @group.non_members %>
    <% if !non_members.empty? %>
      <%= link_to_show '[add someone]' do %>
        <% form_tag "/groups/#{@group.id}/members", :method => :post do %>
          Add someone: <%= select_tag :person_id, options_from_collection_for_select(non_members, :id, :name), :include_blank => true %>
          <%= submit_tag 'Add' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<%= link_to '[edit this group]', edit_group_path(@group), :class => :action %> |
<%= link_to '[go back to group list]', groups_path, :class => :action %>
