<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Meeting:</b>
  <%= day_of_week_name @group.meeting_day %>
  <%= @group.meeting_time.to_s(:time) %>
</p>

<p>
  <b>Contact:</b>
  <%= @group.user.person.name %>
</p>

<p>
  <b>Description:</b>
  <pre><%= @group.description %></pre>
</p>

<p>
  <b>Restrictions:</b>
  <pre><%= @group.restrictions %></pre>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
