<div class="page_title">
  <h1>Change password</h1>
</div>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user == current_user %>
    <%= f.hidden_field :must_change_password, :value => false %>
  <% elsif logged_in_admin? %>
    <div class="field">
      <%= f.check_box :must_change_password %>
      <%= f.label :must_change_password, 'Must change password on next login' %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to '[cancel edit]', @user, :class => :action %> |
<%= link_to '[go back to user list]', users_path, :class => :action %>
