<% provide(:title, "User: #{@user.name}") %>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Active user:</b>
  <%= @user.active ? 'Yes' : 'No' %>
</p>

<p>
  <b>Administrator:</b>
  <%= @user.admin ? 'Yes' : 'No' %>
</p>

<%= render 'shared/person', :person => @user.person %>

<% show_finished = params[:show_finished] == 'true' %>
<% tasks = show_finished ? @user.tasks : @user.in_progress_tasks %>
<div class="grouping_box">
  <b>Showing <%= show_finished ? "all tasks" : "in-progress tasks" %></b>
  <%= link_to ( show_finished ? "[see only in-progress tasks]" : "[see finished tasks too]" ), user_path(@user, :show_finished => !show_finished ), :class => :action %>
  <br />
  <% if tasks.empty? %>
    <i>no tasks</i><br />
  <% else %>
    <table class="index_table">
      <tr>
        <th>Task</th>
        <th>Person</th>
        <th>Status</th>
      </tr>
      <% tasks.each do |t| %>
        <tr>
          <td> <%= link_to t.task_type.description, t %> </td>
          <td> <%= link_to t.person.name, t.person %> </td>
          <td> <%= t.task_status.description %> </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>


<%= link_to '[edit this user]', edit_user_path(@user), :class => :action %> |
<%= link_to '[change password]', password_user_path(@user), :class => :action %> |
<%= link_to '[go back to user list]', users_path, :class => :action %>
