<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.person.name %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Active:</b>
  <%= @user.active %>
</p>


<p>
  <b>Administrator:</b>
  <%= @user.admin %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
