<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :phone %><br />
  <%= validated_telephone_field :phone, f %>
</div>
<div class="field">
  <%= f.label :email %><br />
  <%= validated_email_field :email, f %>
</div>
<div class="field">
  <%= f.check_box :member %> <%= f.label :member, 'Church member' %>
</div>
<div class="field">
  <%= f.check_box :active %> <%= f.label :active %>
</div>

<div class="grouping_box">
  <%= f.fields_for :address do |builder| %>
    <b>Address</b>
    <%= link_to_delete_field '[remove]', builder, '.grouping_box', :class => :action %>
    <%= render 'shared/address_fields', :f => builder %>
  <% end %>
</div>
