<% if logged_in? %>
  <header class="navbar">
    <div class="container">
      <nav>
        <div><%= link_to_unless_current 'Home', home_path %></div>
        <div><%= link_to_unless_current 'People', people_path %></div>
        <div><%= link_to_unless_current 'Groups', groups_path %></div>
        <% if logged_in_admin? %>
          <hr />
          <div class="admin"><b>Admin</b></div>
          <div class="admin"><%= link_to_unless_current 'Users', users_path %></div>
          <div class="admin"><%= link_to_unless_current 'Tasks', tasks_path %></div>
          <div class="admin"><%= link_to_unless_current 'Define tasks', task_types_path %></div>
          <div class="admin"><%= link_to_unless_current 'Define regions', regions_path %></div>
          <div class="admin"><%= link_to_unless_current 'Edit homepage', messages_path %></div>
          <div class="admin"><%= link_to_unless_current 'Site to-do list', todo_path %></div>
          <!--div class="admin"><%= link_to_unless_current 'Email group leaders', '#' %></div-->
        <% end %>
        <hr />
        <div><%= link_to_unless_current 'My profile', current_user %></div>
        <div><%= link_to 'Log out', logout_path, :method => :delete %></div>
      </nav>
    </div>
  </header>
<% end %>
